div {
	height: 200px;
	width: 200px;
	background-image: url(../img/pelotatenis.png);
	border: 10px solid;
	background-size: 50px 50px;
}

#div1 {
	border-color: red;
	background-position: center center;
	background-repeat: no-repeat;
}

#div2 {
	border-color: green;
	background-position: bottom;
	background-repeat: repeat-x;
}

#div3 {
	border-color: darkblue;
	background-position: right;
	background-repeat: repeat-y;
}