#p1 {
	font-style: italic;
	text-align: right;
}

#p2 {
	text-transform: uppercase;
	text-decoration: line-through;
}

#p3 {
	font-size: 120%;
	font-family: monospace, sans-serif;
}

#p4 {
	font-weight: bold;
	text-shadow: -4px 3px 5px green;
}

.prin {
	display: flex;
}
	
#buscadores {
	background-color: lightyellow;
	height: 200px;
	width: 400px;
	border-radius: 20px;
	display: inline-block;
}

#redessociales {
	background-color: lightblue;
	height: 200px;
	width: 400px;
	border-radius: 20px;
	display: inline-block;
}

#noticias {
	background-color: lightpink;
	height: 200px;
	width: 400px;
	border-radius: 20px;
	display: inline-block;
}

a {
	color: white;	
}

.adiv1 {
	width: 100px;
	height: 50px;
	display: inline-block;
}

.adiv2 {
	width: 100px;
	height: 50px;
	display: flex;
	flex-direction: column;
}

#bca1 {
	background-color: red;
}

#bca2 {
	background-color: green;
}

#bca3 {
	background-color: blue;
}